footer
	.container
		h5.footer-title Хотите узнать больше? Вступайте в наши группы!
		.soc-buttons
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
		p ИП Грудин Андрей Аркадьевич, г. Москва, поселение Рязанковское, пос. Знамя Октября, мкр. Родники, д. 6, кв. 34, 
			br
			| ИНН/КПП 772427896499, ОГРН/ОГРНИП 318774600310986
		a#conditions(href= oferta download) Условия возврата денежных средствa
.modal.fade(tabindex="-1" role="dialog")#lessons
	.modal-dialog(role="document")
		.modal-content.my-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal-title План курса:
					h4.modal-subtitle Занятие 1
					ul.general-list.general-list-modal
						li Подготовка мозга – как работает НЛП
						li Влияние Архетипов
						li Что со мной ТАК?
						li Базовые пресуппозиции НЛП
					h4.modal-subtitle Занятие 2
					ul.general-list.general-list-modal
						li Внутренняя и внешняя референция
						li Трансовые техники перепрограммирования
						li Треугольник Жертва- Спасатель –Палач
						li Техника Уолта Диснея
					h4.modal-subtitle Занятие 3
					ul.general-list.general-list-modal
						li Внутренний конфликт субличностей
						li Как влиять на себя и на окружение
						li Виды доминирования
						li Моделирование новой себя
					h4.modal-subtitle Занятие 4
					ul.general-list.general-list-modal
						li Стирание программы «Ничтожество –Совершенство»
						li Самая лучшая ( счастливая , довольная …) версия себя
						li Мотивация ОТ и мотивация К