section#for
	.container
		h3.general-title.general-title-for ЭТОТ КУРС ДЛЯ ТЕБЯ, ЕСЛИ ТЫ:
		.row
			.col-md-4.col-cm-4
				.for-img
			.col-md-8.col-sm-8
				ul.general-list.general-list-for
					li не понимаешь почему твои муж, ребёнок, родители, коллеги, руководители так относятся к тебе
					li не имеешь признание тебя со стороны себя, окружающих ....
					li тебя игнорируют, как будто не замечают, предают
					li когда тебе говорят - красивая, ты классная, тебе хочется заплакать 
					li часто находишься в состоянии жертвы
					li иногда чувствуешь, что тебе "обрезали крылья" 
					li часто находишься на "качелях" - то БОГИНЯ всего мира, то Дрянь никчёмная 
					li тебя часто накрывает Стыд и Вина за себя
					li не умеешь презентовать себя, а от слова брендирование внутри всё сжимается
					li испытываешь бешеный страх публичных выступлений
					li думаешь, что некоторые цели совсем "не для тебя"