section#get
	.container
		h3.general-title.general-title-get ЧТО ТЫ ПОЛУЧИШЬ В РЕЗУЛЬТАТЕ ПРОХОЖДЕНИЯ КУРСА:
		.row
			.col-md-4.col-sm-4.col-md-push-8.col-sm-push-8
				.get-img
			.col-md-8.col-sm-8.col-md-pull-4.col-sm-pull-4
				ul.general-list.general-list-get
					li вернёшь себе "крылья"
					li узнаешь как ты бессознательно недооцениваешь себя 
					li сбалансируешь эти состояния до уровня Стабильность 
					li будешь самым желанным членом команды, женой, мамой, любимой, подругой
					li окружающие будут стремиться завоевать твое сердце и расположение (ты как вишенка на торте)
					li поймёшь и увидишь сколько силы в тебе скрыто 
					li начнёшь чувствовать себя нужной, востребованной, самолюбоваться 
					li вернёшь уверенность в себе (взгляд, походка, голос, осанка, мысли)
					li ОСОЗНАЕШЬ СКОЛЬКО РАДОСТИ И ДУШЕВНОГО СПОКОЙСТВИЯ МОЖЕТ ВОЙТИ В ТВОЮ ЖИЗНЬ