section#main
	.container
		include ../header
		p.pre Записи онлайн-мастер-класса
			small (внизу страницы)
		h1.main-title Ничтожество
			span Совершенство
		.main-info
			p.main-info-text Автор: 
				span Ольга Кононенко
			p.main-info-text Даты проведения: 
				span с 5го и 6го августа (19:00 мск)
		a.button.button-main(href="#prices") Купить