section#main
	.container
		include ../header
		p.pre Записи онлайн-мастер-класса
			small (внизу страницы)
		h1.main-title Ничтожество
			span Совершенство
		.main-info
			p Автор: 
				span Ольга Кононенко
			p Даты проведения: 
				span с 5го и 6го августа
		a.button.button-main(href="#prices") Купить