mixin lesson(h4, ...items)
	.lesson
		.lesson-head
			h4.lesson-head-title Занятие 
				= h4
		.lesson-body
			.lesson-body-list
				each item in items
					li= item
section#plan
	.container
		h3.general-title.general-title-plan ПЛАН КУРСА
		.row
			.col-md-3.col-sm-6
				+lesson('1', 'Подготовка мозга – как работает НЛП', 'Влияние Архетипов', 'Что со мной ТАК?', 'Базовые пресуппозиции НЛП')
			.col-md-3.col-sm-6
				+lesson('2', 'Внутренняя и внешняя референция','Трансовые техники перепрограммирования','Треугольник Жертва- Спасатель –Палач','Техника Уолта Диснея')
			.col-md-3.col-sm-6
				+lesson('3', 'Внутренний конфликт субличностей','Как влиять на себя и на окружение','Виды доминирования','Моделирование новой себя')
			.col-md-3.col-sm-6
				+lesson('4', 'Стирание программы «Ничтожество –Совершенство»','Самая лучшая ( счастливая , довольная …) версия себя','Мотивация ОТ и мотивация К')