footer
	background-color: #000 + 10%
	padding: 20px 0
	text-align: center
	opacity .9
footer
	h5
		font-size: 22px;
		font-family: Roboto
	p
	#conditions
		font-size: 14px;
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	p
		width 100%
		max-width 815px
		margin 0 auto
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color transparent
			color purp
			line-height 28px
			border 1px solid purp
			&:hover
				opacity .8