#for
	padding 60px 0
.for-img
	width 100%
	max-width 320px
	height 320px
	background-image url(../img/for_img.jpg)
	background-repeat no-repeat
	background-position: center
	background-size contain
	margin 40px auto 0