#get
	@extend #for
.get-img
	width 100%
	max-width 320px
	height 320px
	background-image url(../img/get_img.jpg)
	background-repeat no-repeat
	background-position: center
	background-size contain
	margin 40px auto 0
.general-list-get
	li
		text-align: right 
		padding-left: 0
		padding-right: 16px
		&:before
			left auto
			right 0
