@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header 
		margin-bottom: 60px
	#main
		background-position: center top 30%
		padding-bottom: 80px
	.main-title
		margin 40px 0 60px
	.main-info
		max-width 400px
		margin-bottom: 60px
	.lesson
		max-width 308px
	.packet-body
		min-height 320px
	.recs-container
		max-width 860px
@media screen and (max-width 1199px)
	.lessons
		width 100%
		max-width 650px
		margin 0 auto
	.lesson
		margin-bottom: 25px
	#plan
		padding-bottom: 35px
@media screen and (max-width 991px)
	footer p br
		display: none
@media screen and (max-width 767px)
	#logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		float: none
		text-align: center
	.for-img
	.get-img
		margin 0 auto 25px
		height 300px
		max-width 300px
	.lesson
	.packet-body
		min-height 1px
	.general-list-get li
		text-align: left 
		padding-left: 16px
		padding-right: 0
		&:before
			left 0
			right auto
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	#main
		padding 0 0 40px
	header
		margin-bottom: 15px
	#logo
		width 160px
		height 15px
	.contact
		margin 0 5px
		.fa
			font-size: 14px
			margin 0 5px 0 0
		span
			font-size: 12px
			vertical-align: baseline
	.main-title
		font-size: 32px
		margin 15px 0 20px
	.main-title span::before
		max-width 320px
		margin 10px auto
	#for
	#get
	#prices
	#records
		padding 40px 0
	#plan
		padding: 40px 0 15px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	.for-img, .get-img
		height 250px
		max-width 250px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.packet
		margin-bottom: 25px
	.alert-danger
		font-size: 20px
	.general-title-feedback
		margin-top: 40px
	footer
		padding 15px 0
	footer h5
		font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer #conditions, footer p
		font-size: 12px
@media screen and (max-width 380px)
	header
		margin-bottom:  0
	.main-title
		font-size: 28px
	.main-info
		margin-bottom: 30px
	#main
		padding  0 0 30px
	#for
	#get
	#prices
	#records
		padding 30px 0
	#plan
		padding: 30px 0 5px
	.general-title
		font-size: 24px
		margin-bottom: 25px
	.for-img, .get-img
		height 200px
		max-width 200px
	.general-list li
		margin-bottom: 10px
	.lesson
	.packet
	.recs
		padding 15px
	.lesson-head
	.packet-head
		font-size: 22px
		padding-bottom: 15px
	.lesson-body
		padding-top: 15px
	.general-list-lesson li
		font-size: 16px
	.packet-body
		padding 15px 0
	.packet-footer
		padding-top: 15px
	.cost
		font-size: 20px
		margin-bottom: 10px
		span
			font-size: 24px
	.button-cost
		margin-top: 20px
	.timer-title
		font-size: 24px
	.about-recs
		font-size: 20px
	.general-title-feedback
		margin-top: 30px