#records
	padding 60px 0
.recs-container
	width 100%
	max-width 650px
	margin 0 auto
.recs-links
	width 100%
	text-align: center
	li
		height 40px
		line-height: 38px
		padding 0 15px
		font-size: 18px
		margin 0 5px 10px
		display: inline-block
		cursor pointer
		border: 1px solid purp
		transition: all .4s ease
		text-transform: uppercase
		&.active2
		&:hover
			background-color: purp
			color: #fff
			box-shadow: 0 2px 5px rgba(#BB863D,.5)
.recs
	background-color #fff - 10%
	padding 20px
	margin-top: 10px
	list-style none
.rec-title
	text-align: center
	font-size: 20px
	margin-bottom: 15px
	color: #000
	font-family: SansB
.rec-text
	margin-top 10px
	color #000
.general-title-feedback 
	margin-top: 60px
.video-wrapper-rec
#vk
#fb
	box-shadow: 0 2px 8px 4px rgba(#fff, .05)
	overflow hidden
	background-color #fff
.rec-text-sale
	text-align: center
	margin-bottom: 25px
.about-recs
	text-align: center
	margin-top: 15px
	font-size: 22px
.video-wrapper-rec-single
	max-width 650px